.line-wrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;

  .line {
    position: relative;
    height: 100%;
    border-right: 1px solid var(--color-light);
    width: 100%;

    @media(max-width: 700px) {
      &:nth-child(5) {
        display: none;
      }
    }

    @media(max-width: 530px) {
      &:nth-child(4) {
        display: none;
      }
    }

    @media(max-width: 320px) {
      &:nth-child(3) {
        display: none;
      }
    }
  }
}